<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProcessServiceImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.147:8081/bpmx3/service/ProcessService"
                binding="basicHttpBinding" bindingConfiguration="ProcessServiceImplServiceSoapBinding"
                contract="SR147.ProcessService" name="ProcessServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>